<div class="section">
  <div class="container">
    <h1 class="title is-3 has-text-success-dark"> <%= @user.name %>'s Profile</h1>
  </div>
  <div class = "section">
    <div class="container">
      <h2 class="title is-5 has-text-success"> <%= @user.name %>'s Hosted Events</h2>
      <div class="block">
        <h3 class="title is-6 has-text-success"> Upcoming Events</h3>
        <div>
          <% @user_events.where(date: (Date.today)..).order(date: :asc).each do |event| %>
            <div class="box"><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></div>
          <% end %>
        </div>
      </div>
      <div class="block">
        <h3 class="title is-6 has-text-success"> Past Events</h3>
        <div>
          <% @user_events.where(date: ..(Date.yesterday)).order(date: :desc).each do |event| %>
            <div class="box"><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="title is-5 has-text-success"> <%= @user.name %>'s Attended Events</h2>
      <div class="block">
        <h3 class="title is-6 has-text-success"> Upcoming Events</h3>
        <div>
          <% @user.attended_events.where(date: (Date.today)..).order(date: :asc).each do |event| %>
            <div class="box"><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></div>
          <% end %>
        </div>
      </div>
      <div class="block">
        <h3 class="title is-6 has-text-success"> Past Events</h3>
        <div>
          <% @user.attended_events.where(date: ..(Date.yesterday)).order(date: :desc).each do |event| %>
            <div class="box"><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
