<h1> <%= @user.name %>'s Profile</h1>

<h2> <%= @user.name %>'s Hosted Events</h2>
<div>
  <ul>
    <% @user_events.each do |event| %>
      <li><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></li>
    <% end %>
  </ul>
</div>

<h2> <%= @user.name %>'s Attended Events</h2>
<div>
  <ul>
    <% @user.rsvps.each do |rsvp| %>
      <li><%= link_to rsvp.attended_event.title, rsvp.attended_event %> - <%= rsvp.attended_event.date %>, <%= rsvp.attended_event.location %></li>
    <% end %>
  </ul>
  
</div>
