<h1>All Events</h1>

<h2>Upcoming Events</h2>
<ul>
  <% @events.upcoming.each do |event| %>
  <li><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></li>
  <% end %>
</ul>

<h2>Past Events</h2>
<ul>
  <% @events.past.each do |event| %>
  <li><%= link_to event.title, event %> - <%= event.date %>, <%= event.location %></li>
  <% end %>
</ul>



<% if current_user %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Login", user_session_path, method: :get %>
<% end %>