<nav class="navbar is-success" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    
    <figure class="navbar-item"><%= image_tag('logo.png') %></figure>
    
    <%= link_to 'Private Events', root_path, class: "navbar-item is-size-3 has-text-weight-bold has-text-success-dark" %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if current_user %>
        <%= link_to 'All Events', events_path, class: "navbar-item" %>
        <%= link_to 'New Event', new_event_path, class: "navbar-item" %>
        <%= link_to 'My Events', user_path(current_user), class: "navbar-item" %>
      <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if current_user %>
          <div class="navbar-item has-text-white"><%= current_user.name %></div>
        <% end %>
        <div class="buttons">
          <% if current_user %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "button is-success is-light" %>
          <% else %>
            <%= button_to "Login", user_session_path, method: :get, class: "button is-success is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
